.head{
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    padding: 1rem;
    background-color: $primary-color;
    color:  #29AB87;
    text-transform: uppercase;
    text-decoration: underline;
}